* {
    box-sizing: border-box;
    margin-top: 0px;
}

.header {
    margin-top:20px;
    text-align: center;
    font-weight: bold;
}

.p1 {
    position: relative;
    right: 0;
    border: 2px solid black;
    background-color: pink;
    font-weight: 700;
    padding: 5px;
    width: 100px;
}

.p2 {
    border: 2px solid black;
    background-color: crimson;
    font-weight: 700;
    padding: 5px;
}

.p3 {
    position: relative;
    right: 0;
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
    font-weight: 700;
    padding: 5px;
}

.content1 {
    position: relative;
    background-color: grey;
    border: 2px solid black;
    width: 400px;
    margin-top: 50px;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.content2 {
    position: relative;
    background-color: grey;
    border: 2px solid black;
    width: 400px;
    margin-top: 50px;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.content3 {
    position: relative;
    background-color: grey;
    border: 2px solid black;
    width: 400px;
    margin-top: 50px;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
}